* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'JetBrains Mono', 'JetBrains Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #343434;
  color: white;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100vh;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1163px) {
  body {
    overflow-y: auto;
    height: auto;
    min-height: 100vh;
  }

  #root {
    overflow-y: auto;
    height: auto;
    min-height: 100vh;
  }
}

@media (max-width: 767px) {
  body {
    overflow-y: auto;
  }

  #root {
    overflow-y: auto;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

